.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.svgArea {
  width: 400px;
  height: 200px;
}

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  background-image: radial-gradient(
    closest-side at 45% 45%,
    rgb(49, 184, 60) 6%,
    rgb(64, 133, 64) 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  width: 70%;
}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  text-align: center;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 200px;
  height: auto;
  margin: 10px;
  padding: 10px;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}

div.position-view {
  text-align: left;
}
.list-view {
  text-align: left;
  font-size: small;
}
.list-bold-view {
  text-align: left;
  font-weight: bold;
}
.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.drag {
  background-color: #bbb;
}
