.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.svgArea {
  width: 400px;
  height: 200px;
}

html {
  height: 100%;
}
body {
  background: gray;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: radial-gradient(
    closest-side at 45% 45%,
    rgb(49, 184, 60) 6%,
    rgb(64, 133, 64) 90%
  );
  height: 100%;
  width: 100%;
}

.root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
  text-align: center;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.box {
  border: 3px solid #000;
  background-color: #aaa;
  border-radius: 3px;
  width: auto;
  height: auto;
  margin: -10px;
  padding: 6px 4px;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: visible;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.position-view {
  text-align: left;
}
.list-view {
  text-align: left;
  font-size: small;
}
.list-bold-view {
  text-align: left;
  font-weight: bold;
}
.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.drag {
  vertical-align: middle;
}
.graphics {
  overflow: visible;
  margin: 0px 4px;
  width: 32px;
  height: 32px;
}
.circle {
  z-index: -1;
}
.inport {
  stroke: "#000000";
  fill: #66ff66;
}
.outport {
  stroke: "#000000";
  fill: #aa0000;
}
.topbar {
  display: flex;
  background-color: #42a742b4;
  flex: 10%;
  width: 100%;
  height: 100px;
  flex-direction: row;
  align-items: stretch;
}
.zoom {
  flex: 1;
}
.savestate {
  flex: 1;
  position: relative;
  top: 0px;
  bottom: 0px;
}
.editor {
  background-color: red;
  flex: 80%;
  overflow: hidden;
}
.graphicsarea {
  width: 500px;
  height: 500px;
  transform-origin: 0px 0px;
  background-color: blue;
}
.arrowsvg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
}
.d2darea {
  background-color: #aa0000;
  position: absolute;
  left: 0px;
}
#canvasclass.svg {
  width: 100%;
  background-color: #aa0000;
}
#mycanvasdraw2d {
  position: relative;
  width: 100%;
  flex: 90%;
}
#mycanvasdraw2d svg {
  position: absolute;
  top: 0px;
  left: 0px;
}
